.grid{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
